fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pyyaml==6.0.2
httpx==0.28.1
jinja2==3.1.4
apscheduler==3.10.4
pytz==2024.1
croniter==2.0.1             # 👈 用于精准计算 Cron 偏移
pydantic==2.10.3